{% macro inputs() %}
    <div class="text-center">{{ "Are you sure you want to return request to fixing?" | trans() }}</div><br>

    <div class="form-group">
        <label class="col-sm-4 control-label">{{ "Comment" | trans() }}</label>
        <div class="col-sm-7">
            <textarea name="technicalMap[comment][text]" required class="form-control" placeholder="{{ 'Enter your message' | trans() }}"></textarea>
        </div>
    </div>
{% endmacro %}