<form action="{{ uploadFilePath }}" class="form-horizontal" method="post" enctype="multipart/form-data">
    <div class="panel-footer">
        <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-fw fa-paperclip"></i></button>
        </span>
            <input type="file" class="form-control" required name="{{ fileInputName is defined ? fileInputName : 'files[]' }}" placeholder="{{ 'Upload File' | trans() }}" multiple/>
            <span class="input-group-btn ">
            <button type="submit" class="btn btn-primary">{{ 'Upload File' | trans() }}</button>
        </span>
        </div>
    </div>
</form>