<li>
    <a href=""
       data-href="{{ path('document_add_signatories', {'id': document.id}) }}"
       data-toggle="modal"
       data-target=".addSignatoriesModal"
    ><i class="fa fa-fw fa-plus text-success"></i> {{ 'Add signatories' | trans() }}</a>
</li>