{% macro inputs() %}
    <div class="text-center bulk-action-prompt-text"></div>
    <div class="bulk-items"></div>

    <script>
        $(document).ready(function(){

        });
    </script>
{% endmacro %}