<div style="color:#333333;font-family:Arial,sans-serif;font-size:14px;line-height:1.429;">
    <p>{{ 'An account has been created for you in the Olymp system' | trans ~ ':'}}</p>
    <p>{{ 'User name' | trans ~ ': ' ~ login }}</p>
    <p>{{ 'Password' | trans ~ ': ' ~ password }}</p>
</div>